<header class="bg-gradient-to-r from-black via-slate-950 to-indigo-950">
    <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="w-full py-6 flex items-center justify-between border-b border-light-pink">
            <div class="flex items-center">
                <a 
                    routerLink="/workspace" 
                    class="flex items-center gap-2 text-white text-lg font-semibold tracking-wide"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#f72585" viewBox="0 0 256 256"><path d="M216,48H40a8,8,0,0,0-8,8V208a16,16,0,0,0,16,16H88a16,16,0,0,0,16-16V160h48v16a16,16,0,0,0,16,16h40a16,16,0,0,0,16-16V56A8,8,0,0,0,216,48ZM88,208H48V128H88Zm0-96H48V64H88Zm64,32H104V64h48Zm56,32H168V128h40Zm0-64H168V64h40Z"></path></svg>                    Codetask
                </a>
            </div>

            <div class="ml-10 space-x-6 flex items-center">
                <span class="text-white">
                    {{ (user | async)?.email }}
                </span>

                <img ngxGravatar [email]="(user | async)?.email" />
            
                <button 
                    (click)="signOut()"
                    class="inline-flex items-center gap-1 bg-light-indigo py-1 px-4 border-transparent rounded-md text-white font-medium hover:bg-indigo-700"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-power"><path d="M12 2v10"/><path d="M18.4 6.6a9 9 0 1 1-12.77.04"/></svg>
                    Sair
                </button>
            </div>
        </div>  
    </nav>
</header>

<main class="max-w-7xl mx-auto px-6 lg:px-8 py-8">
    <div class="flex justify-start pt-5 sm:pt-8 pb-3">
        <h1 class="text-2xl font-extrabold text-dark tracking-wide">
            Dashboard
        </h1>
    </div>
    
    <ul
        class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8"
        role="list"
    >   
        <li
            class="relative bg-gray-50 h-60 rounded-sm font-semibold text-lg py-4 px-4 hover:bg-gray-100 hover:cursor-pointer"
            *ngFor="let board of boards"
            [routerLink]="board.boards.id"
        >
            {{ board.boards.title }}
        </li>

        <li
            (click)="startBoard()"
            class="relative top-7 h-64 w-52 lg:h-80 lg:w-auto border-[3px] border-light-gray rounded-md text-indigo-600 text-xs font-semibold tracking-wide py-3 px-6 hover:bg-gray-50 hover:border-x-light-indigo hover:border-y-purple-300"
        >
            <div class="w-full pt-2 flex items-center gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4f46e5" viewBox="0 0 256 256"><path d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z"></path></svg>            
                Novo card
            </div>
            <hr class="border-2 border-light-gray my-4">

            <span class="flex justify-center items-center text-light-gray pt-24">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-kanban-square-dashed"><path d="M8 7v7"/><path d="M12 7v4"/><path d="M16 7v9"/><path d="M5 3a2 2 0 0 0-2 2"/><path d="M9 3h1"/><path d="M14 3h1"/><path d="M19 3a2 2 0 0 1 2 2"/><path d="M21 9v1"/><path d="M21 14v1"/><path d="M21 19a2 2 0 0 1-2 2"/><path d="M14 21h1"/><path d="M9 21h1"/><path d="M5 21a2 2 0 0 1-2-2"/><path d="M3 14v1"/><path d="M3 9v1"/></svg>
            </span>
        </li>
    </ul>
</main>